<form action="./addPost" method="POST">
	<p>
		<label>Title</label><br />
		<input type="text" value="" name="title" />
	</p>
	<p>
		<label>Post</label><br />
		<textarea name="post"></textarea>
	</p>
	<p>
		<input type="submit" value="add" />
	</p>
</form>